@import './variables';

%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%image {
    display: block;
}

%button {
    padding: 10px 10px;
    border-radius: 12px;
    background-color: $primary-color-400;
    border: 1px solid $primary-color-400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @include body-r;
    color: $white-color;

    cursor: pointer;

      @media screen and (min-width: $tablet) {
        padding: 16px 32px;
    }
}

%button-hover {
    @extend %button;
    border: 1px solid $primary-color-500;

    background-color: $primary-color-500;
}

%input {
    padding: 12px 12px 12px 56px;
    width: 100%;

    background: $black-10;
    border: 1px solid $grey-700;
    border-radius: 12px;

    @media screen and (min-width: $tablet) {
        padding: 16px 16px 16px 56px;
    }
    // @media screen and (max-width: 767px) {
        
    // }
}