$primary-text-color: #212121;
$secondary-text-color: #757575;

$white-color: #FFFFFF;

$primary-color-500: #5A4AF4;
$primary-color-400: #7B6EF6;
$secondary-color: #1EA5FC;
$tertiary-color: #B66DFF;
$hover-color: #9C92F8;

$black-10: rgba(0, 0, 0, 0.1);
$grey-50: #EBEEF5;
$grey-200: #A8AEBF;
$grey-300: #8E95A9;
$grey-400: #767E94;
$grey-600: #475069;
$grey-700: #323B54;
$grey-900: #121829;
$warning-500: #FFAD49;

$o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;

