<div class="error-page">
    <div class="container error-page__container">
        <img class="error-page__img" src="./images/film-rolls.png" alt="Error page"
            srcset="./images/film-rolls.png 1x, ./images/film-rolls-error.png 2x">
        <h2 class="error-page__heading">Lost your way?</h2>
        <p class="error-page__text">Oops! This is awkward. You are looking for something that doesn't actually exist.
        </p>
        <a class="error-page__button" href="./index.html">Go Home</a>
    </div>
</div>