<div class="no-results">
    <div class="container no-results__container">
        <h2 class="no-results__heading">Sorry, No results found</h2>
        <p class="error-page__text">There are no movies matching your search terms.</p>
        <a class="error-page__button" href="./index.html">Go Home</a>
    </div>
</div>