@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local("Poppins"),
        url("./Poppins/Poppins-Regular.woff2") format("woff2"),
        url("./Poppins/Poppins-Regular.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    font-style: bold;
    font-weight: 700;
    src: local("Poppins"),
        url("./Poppins/Poppins-Bold.woff2") format("woff2"),
        url("./Poppins/Poppins-Bold.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local("Poppins"),
        url("./Poppins/Poppins-SemiBold.woff2") format("woff2"),
        url("./Poppins/Poppins-SemiBold.woff") format("woff");
    font-display: swap
}