@import '/src/sass/base/variables';

.page-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(20px);

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    text-decoration: none;
}

.site-nav__list {
    @extend %list;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.site-nav__item {
    margin-right: 15px;

    @media screen and (min-width: $tablet) {
        margin-right: 40px;
    }
}

.site-nav__link {
    @include link-r();
    display: inline-block;
    padding: 28px 0;
    height: 100%;
    color: $grey-200;

    &:hover,
    &:focus {
        color: $hover-color;
    }
}