@import '/src/sass/base/variables';

.hero__container {
    padding-top: 100px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
        padding-top: 120px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 160px;
        padding-bottom: 60px;
    }
}

.hero__heading {
    @include h3();
    font-size: 40px;
    margin-bottom: 10px;
    color: $grey-50;

    @media screen and (min-width: $tablet) {
        @include h2();
    }

    @media screen and (min-width: $desktop) {
        @include h1();
        margin-bottom: 16px;
    }
    
}

.hero__subheading {
    @include body-r();
    margin-bottom: 30px;
    color: $grey-300;

    @media screen and (min-width: $tablet) {
        @include body-l();
        margin-bottom: 24px;
    }
    
}


.search-form {
    position: relative;
    // outline: 1px solid white;

    &__input {
        @extend %input;
        @include body-s();
        width: 100%;
        color: $grey-200;

        @media screen and (min-width: $tablet) {
            @include body-r();
            width: 340px;
        }

        &::placeholder {
            @include body-s();
            color: $grey-600;

            @media screen and (min-width: $tablet) {
                @include body-r();
            }
        }

        &:focus {
            border-color: $primary-color-500;
            outline: 0;
        }
    }

    &__icon {
        position: absolute;
        top: 29%;
        left: 16px;

        @media screen and (max-width: 767px) {
            width: 20px;
            height: 20px;
        }
    }

    &__button {
        @extend %button;
        margin-left: 5px;

        @media screen and (max-width: 767px) {
            display: none;
        }

        &:hover,
        &:focus {
            @extend %button-hover;
        }
    }
}